@page "/machine"
@rendermode InteractiveServer
@using MachineAssetManagement.Services
@using MachineAssetManagement.Models
@inject IMachineService MachineService

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Assets by Machine</h5>
        </div>

        <div class="card-body">
            <div class="row g-2 align-items-end">
                <div class="col-md-6">
                    <label class="form-label">Machine Name</label>
                    <input class="form-control"
                           placeholder="Example: C300"
                           @bind="machineName" />
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary w-100"
                            @onclick="LoadAssets">
                        Get Assets
                    </button>
                </div>
            </div>

            <hr />

            @if (assets != null)
            {
                <h6>Machine: <strong>@selected</strong></h6>
                if (!assets.Any())
                {
                    <div class="alert alert-warning mt-3">
                        No assets found for the given machine.
                    </div>
                }
                else
                {
                    <div class="mt-3">
                        <h6>Assets Used</h6>
                        <ul class="list-group">
                            @foreach (var asset in assets)
                            {
                                <li class="list-group-item">
                                    @asset
                                </li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</div>


@code {
    private string machineName = string.Empty;
    private string selected = string.Empty;
    private List<string>? assets;
    private bool isLoading = false;
    private string? errorMessage;
    private List<string> machinesNames;
   
    private void LoadAssets()
    {
        selected = machineName;
        assets = MachineService.GetAssetsByMachine(machineName);
        machineName = "";
    }
    
}
