@page "/"

<PageTitle>Machine Asset Management</PageTitle>

<div class="home-container">

    <h1 class="home-title">Machine Asset Management</h1>

    <div class="card-row">
        <div class="card-box">
            <h3>All→ Machines</h3>
            <p>View machines assets</p>
            <NavLink href="all-machines" class="card-link">
                Open
            </NavLink>
        </div>

        <div class="card-box">
            <h3>Machine → Assets</h3>
            <p>View assets used by a machine</p>
            <NavLink href="machine" class="card-link">
                Open
            </NavLink>
        </div>

        <div class="card-box">
            <h3>Asset → Machines</h3>
            <p>View machines using an asset</p>
            <NavLink href="assets" class="card-link">
                Open
            </NavLink>
        </div>

        <div class="card-box">
            <h3>Latest Series</h3>
            <p>Machines using latest asset series</p>
            <NavLink href="/latest-series" class="card-link">
                Open
            </NavLink>
        </div>

    </div>

</div>
